@page
@model Academy.Areas.Admin.Pages.CompetitionDepartmentsManagment.AddModel
@{
    ViewBag.Title = "Competition DepartmentS";
    ViewBag.pTitle = "Add Competition Department";
    ViewBag.pageTitle = "Competition DepartmentS";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Add Competition Department</h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post" enctype="multipart/form-data">




                        <div class="mb-3">
                            <label asp-for="@Model.CompetitionDepartmentVM.Name" class="form-label">Competition Department Title</label>
                            <input asp-for="@Model.CompetitionDepartmentVM.Name" class="form-control" />
                            <span asp-validation-for="@Model.CompetitionDepartmentVM.Name" class="text-danger"></span>
                        </div>
                       
                        <div class="mb-3">
                            <label asp-for="@Model.CompetitionDepartmentVM.Description" class="form-label"> Competition Department Description</label>
                            <textarea asp-for="@Model.CompetitionDepartmentVM.Description" class="form-control"> </textarea>
                            <span asp-validation-for="@Model.CompetitionDepartmentVM.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">


                            <label for="fileUpload" class="form-label">Choose an Image</label>
                            <div class="input-group">
                                <input type="file" accept=".png, .jpg, .jpeg" class="form-control" id="fileUpload" name="fileUpload" />

                            </div>



                        </div>


                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Competition Department</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div><!--end row-->
