@page
@model Academy.Areas.Admin.Pages.Parents.AddTraineeModel
@{
}
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Add Trainee";
    ViewBag.pTitle = "Add Trainee";
    ViewBag.pageTitle = "Add";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Add Trainee</h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post">

                        <div class="mb-3">
                            <label asp-for="@Model.trainee.TraineeName" class="form-label">Trainee Name</label>
                            <input asp-for="@Model.trainee.TraineeName" class="form-control" />
                            <span asp-validation-for="@Model.trainee.TraineeName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Email" class="form-label">Trainer Email</label>
                            <input asp-for="@Model.Email" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="@Model.trainee.TraineePhone" class="form-label">Trainee Phone</label>
                            <input asp-for="@Model.trainee.TraineePhone" class="form-control" />
                            <span asp-validation-for="@Model.trainee.TraineePhone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="@Model.trainee.TraineeAddress" class="form-label">Trainee Address</label>
                            <input asp-for="@Model.trainee.TraineeAddress" class="form-control" />
                            <span asp-validation-for="@Model.trainee.TraineeAddress" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="@Model.trainee.BirthDate" class="form-label">Trainee BirthDate</label>
                            <input asp-for="@Model.trainee.BirthDate" class="form-control" />
                            <span asp-validation-for="@Model.trainee.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.trainee.ResidencyNumber" class="form-label">Trainee ResidencyNumber</label>
                            <input asp-for="@Model.trainee.ResidencyNumber" class="form-control" />
                            <span asp-validation-for="@Model.trainee.ResidencyNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="display:none">
                            <label asp-for="@Model.trainee.ParentId" class="form-label">Trainee Parent</label>
                            <input asp-for="@Model.trainee.ParentId" class="form-control" />
                            <span asp-validation-for="@Model.trainee.ParentId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="@Model.trainee.Nationality">Nationality</label>
                            <select  asp-for=" @Model.trainee.Nationality"  class="form-select">
                                <option selected disabled value="0">Choose...</option>
                @foreach (var nationality in Model.Nationalities)
                {
                    <option value="@nationality.Value" >
                        @nationality.Text
                    </option>
                }
                            </select>

                            <span asp-validation-for="@Model.trainee.Nationality" class="text-danger"></span>

                        </div><!--end col-->
                        <div class="mb-3">
                            <label class="form-label" asp-for="@Model.trainee.BranchId">Branch</label>
                            <select onchange="GetBranchDepartments(this.value)" asp-for="@Model.trainee.BranchId" asp-items="@(new SelectList(Model.Branches, "BranchId", "BranchName"))" class="form-control form-select">
                                <option selected disabled>Choose...</option>

                            </select>
                            <span asp-validation-for="@Model.trainee.BranchId" class="text-danger"></span>

                        </div><!--end col-->

                       
                                <div class="mb-3">
                                    <label class="form-label" asp-for="@Model.trainee.DepartmentId">Department</label>
                                        <select onchange="GetDepartmentCategories(this.value)" asp-for="@Model.trainee.DepartmentId " asp-items="@(new SelectList(Model.Departments, "DepartmentId", "DepartmentName"))" class="form-select" id="inlineFormSelectPref">
                                        <option selected disabled value="0">Choose...</option>

                                    </select>
                                        <span asp-validation-for="@Model.trainee.DepartmentId" class="text-danger"></span>
                                </div><!--end col-->

                                <div class="mb-3" id="Category">
                                    <label for="CategoryId" class="form-label ">Categories</label>
                                        <select asp-for="@Model.trainee.CategoryId" class="form-control form-select custom-select" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))"
                                            id="CategoryId">

                                        <option selected disabled value="0">Choose...</option>

                                    </select>

                                    <span asp-validation-for="@Model.trainee.CategoryId" class="text-danger"></span>

                                </div><!--end col-->
                                <div class="mb-3">
                                        <label asp-for="@Model.trainee.StartDate" class="form-label">Subscription StartDate</label>
                                        <input asp-for="@Model.trainee.StartDate" class="form-control" />
                                        <span asp-validation-for="@Model.trainee.StartDate" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                        <label asp-for="@Model.trainee.EndDate" class="form-label">Subscription EndDate</label>
                                    <input asp-for="@Model.trainee.EndDate" class="form-control" />
                                    <span asp-validation-for="@Model.trainee.EndDate" class="text-danger"></span>
                                </div>
                
                       
                        <div class="text-end">
                            <button type="button" class="btn btn-primary" onclick="CreateSubscrption()">Add another Subscription</button>
                        </div>
                            

                        <div class="mb-3">
                            <label class="form-label" asp-for="@Model.trainee.Password">Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input asp-for="@Model.trainee.Password" class="form-control pe-5 password-input" id="passwordInput">
                                <span class="input-group-text" id="togglePassword" onclick="togglePassword('passwordInput', 'togglePassword')">
                                    <i class="fa fa-eye"></i> <!-- Font Awesome Eye Icon -->
                                </span>
                            </div>
                            <span asp-validation-for="@Model.trainee.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="@Model.trainee.ConfirmPassword">Confirm Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input type="password" asp-for="@Model.trainee.ConfirmPassword" class="form-control pe-5 password-input" id="confirmPasswordInput">
                                <span class="input-group-text" id="toggleConfirmPassword" onclick="togglePassword('confirmPasswordInput', 'toggleConfirmPassword')">
                                    <i class="fa fa-eye"></i> <!-- Font Awesome Eye Icon -->
                                </span>
                            </div>
                            <span asp-validation-for="@Model.trainee.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Trainee</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div><!--end row-->



<script>
   
    function GetBranchDepartments( value) {
        console.log(value)
        // Send AJAX request to the controller's action method

        if(value!=null&&value!=0){
            $.ajax({
                url: "/admin/Parents/AddTrainee?handler=GetDepartments", // Adjust for Razor Pages if needed
                type: 'GET',
                data: { id: value},
                success: function (data) {
                    console.log(data);
                    if (Array.isArray(data) && typeof data !== "string") {
                        // Find the select element
                        var select = $('#inlineFormSelectPref');
                        console.log(select);
                        select.empty(); // Clear existing options

                        // Add a default option
                        select.append('<option selected disabled  value="0" >Choose ...</option>');

                        // Loop through the data and append options
                        $.each(data, function (index, item) {
                            console.log(item)
                            select.append('<option value="' + item.DepartmentId + '">' + item.DepartmentName + '</option>');
                        });
                    }
                    else {
                        console.log('Error loading options:', error);
                    }

                },
                error: function (error) {
                    console.log('Error loading options:', error);
                }
            });
        }


    };

    function togglePassword(inputId, iconId) {
        var passwordField = document.getElementById(inputId);
        var eyeIcon = document.getElementById(iconId).getElementsByTagName("i")[0];

        // Toggle the type between 'password' and 'text'
        if (passwordField.type === "password") {
            passwordField.type = "text"; // Show password
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash"); // Change icon to eye-slash
        } else {
            passwordField.type = "password"; // Hide password
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye"); // Change icon back to eye
        }
    }

    function GetDepartmentCategories(departmentId) {
   
        console.log(departmentId);
        if (departmentId != null && departmentId != 0) {
            $.ajax({
                url: "/admin/Parents/AddTrainee?handler=CategoriesDepartment", // Adjust for Razor Pages if needed
                type: 'GET',
                data: { departmentId: departmentId }, // Include both value and userId in the data object,

                success: function (data) {
                    console.log(data);
                    if (Array.isArray(data) && typeof data !== "string") {
                        if(data.length==0){
                            console.log(data.length);
                            var categoryDiv = $('#Category');
                            console.log(categoryDiv);
                            $('#Category').hide();
                            
                        }
                        else{
                            // Find the select element
                            var select = $('#CategoryId');
                            console.log(select);
                            select.empty(); // Clear existing options

                            // Add a default option
                            select.append('<option  disabled selected  value="0" >Choose ...</option>');

                            // Loop through the data and append options
                            $.each(data, function (index, item) {
                                console.log(item)
                                select.append('<option value="' + item.CategoryId + '">' + item.CategoryName + '</option>');
                            });
                        }
                       
                    }
                         else {
                        console.log('Error loading options:', error);
                    }

                },
                failure: function (response) {
                   console.log('Error loading options:', error);
                }
            });
        }


    }


    // function validateForm() {

    //     var CatId = document.getElementById("CategoryId").value
    //     console.log(CatId)
    //     var CatSpanId = document.getElementById("CategorySpanId")

    //     if (CatId == 0) {
    //         CatSpanId.style.display = "flex";
    //         return false;
    //     }

    //     CatSpanId.style.display = "none";
    //     return true;
    // }
</script>